@model IEnumerable<Projeto1.Models.Veiculo>
@{
    ViewBag.Title = "Index";
}
<h2>Veiculos</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Placa)</th>
        <th>@Html.DisplayNameFor(model => model.Renavan) </th>
       


        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Placa)</td>
            <td>@Html.DisplayFor(modelItem => item.Renavan)</td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }


</table>
<p>
    @Html.ActionLink("Cadastrar Veículos", "Create", "Veiculos", new { @class = "btn btn-success" })
</p>